Django
numpy
whitenoise
tensorflow
pandas
django_rest_framework
keras
flake8
flake8-todos
trim
autopep8
black # For code quality check purposes
mypy # for english type checking
django-environ
gunicorn
Pillow