@import url(//fonts.googleapis.com/css?family=Muli);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

h1, h2, h3, h4, h5 , h6 { font-family: 'Muli', sans-serif; font-weight:normal; }

h1 {
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    margin:10px 0 20px 0;
}

h2 {
    margin:30px 0 20px;
}

#header {
    padding:10px 100px;
    font-size:20px;
    background:#026efd;
    color:#fff;
    border-bottom:10px solid #026efd;
    overflow:auto;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    float:left;
    color:#f3f7cc;
    font-size:28px;
    margin-left:40%;
    font-weight: bolder;
    margin-top: 2%;
}

form {
    overflow:auto;
    margin-left: 10px;
}

content {
    justify-content: center;
    align-items: center;
}