{% extends "base.html" %}
{% load static %}
{% block title %}Plant Classifier{% endblock %}

{% block content %}
    <div class="container" style="min-height: 50vh;">
        <!-- If there are no favorite, show message -->
        {% if favorite %}
          <div class="row">
            {% for favorite_element in favorite %}
                  <div class="card" style="width: 18rem; padding: 2rem;">
                    <img class="card-img-top" src="{{favorite_element.prediction.image.url}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{favorite_element.prediction.name}}</h5>
                    </div>
                  </div>

            {% endfor %}
          </div>
        {% endif %}
    </div>



{% endblock %}
