{% extends "base.html" %}
{% load static %}
{% block title %}Plant Classifier{% endblock %}

{% block content %}
    <div class="container" style="min-height: 50vh;">
        <!-- If there are no favorite, show message -->
        <div class="row">
            <div class="card" style="width: 18rem; padding: 2rem;">
              <img class="card-img-top" src="" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
        </div>
    </div>

{% endblock %}