{% extends "base.html" %}
{% load static %}

{% block content %}

		<!-- Feature 34 -->
		<section class="pt-10 bg-light feature_34">
			<div class="container px-xl-0">
				<div class="row align-items-center text-center text-sm-left">
					<div class="col-xl-1">
					</div>
					<div class="col-lg-5 col-sm-6">
						<h2 class="mb-20">Plant Classifier</h2>
						<div class="mb-40 mb-sm-0 f-22 color-heading text-adaptive">
							<p>Use our Artificial Intelligence for flower classification!</p>
							<a href="#classifier" class="btn sm action-1">Recognize flower</a>
						</div>
					</div>
					<div class="col-sm-1">
					</div>
					<div class="col-sm-5">
						<img src="{% static 'i/feature_34_img.png' %}" alt="" class="img" />
					</div>
				</div>
			</div>
		</section>

		<!-- Application 2 -->
		<section class="pt-45  bg-light application_2" >
			<div class="container px-xl-0">
				<div class="row justify-content-center justify-content-md-between align-items-center">
					<div class="mb-15 mb-md-0 col-12 col-md-5 col-xl-6 d-flex justify-content-center">
						<!-- Image section -->
						<img src="{% static 'i/application_2_img_1.png' %}" alt="" class="img-fluid application_2_left_img" />
					</div>
					<div class="col-md-7 col-xl-6">
						<h2 class="col-lg-11 color-main" id="about">The flower recognizer</h2>
						<div class="mt-25 col-lg-9 color-heading f-18 text-adaptive">
							<p>Use our AI to recognie a flower, save it as favourite and give us your feedback about the classification made!</p>
						</div>
						<div class="mt-95 row">

							<div class="col-6 col-lg-4 pb-25 with_borders">
								<img src="{% static 'i/application_2_img_3.png' %}"  alt="" class="pl-15" />
								<div class="mt-15 col-xl-11 color-main f-14 bold sp-20 text-uppercase">Ability to identify a flower from an image</div>
							</div>

							<div class="col-6 col-lg-4 pb-25 with_borders">
								<img src="{% static 'i/application_2_img_5.png' %}"  alt="" class="pl-15" />
								<div class="mt-15 col-xl-11 color-main f-14 bold sp-20 text-uppercase">Powerful Backend powered by Django</div>
							</div>
							<div class="col-6 col-lg-4 pb-25 with_borders">
								<img src="{% static 'i/application_2_img_6.png' %}" alt="" class="pl-15" />
								<div class="mt-15 col-xl-11 color-main f-14 bold sp-20 text-uppercase">Responsive design powered by Bootstap. </div>
							</div>
							<div class="col-6 col-lg-4 pb-25 pt-35 with_borders">
								<img src="{% static 'i/application_2_img_7.png' %}"  alt="" class="pl-15" />
								<div class="mt-15 col-xl-11 color-main f-14 bold sp-20 text-uppercase">A.I. Realized with Tensorflow, Keras and kaggle.com dataset</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



<!-- Feature 22 -->
<section class="pt-40 bg-light feature_22" >
	<div class="container px-xl-0">
		<div class="row flex-row-reverse justify-content-between">
			<div class="col-lg-6 col-md-7">
				<h2 class="small" id="classifier">Recognize your flower species</h2>
				<div class="mt-25 mb-75 f-22 color-heading text-adaptive description">Upload an image and classify a flower among: roses, sunflower, dandelion, tulip, or daisy.
				</div>
				<div class="mb-40 mb-md-0 d-sm-flex align-items-center buttons">
					<a href="upload" class="btn sm action-1">Recognize flower</a>
				</div>
			</div>
			<div class="col-lg-1 d-none d-lg-block">

			</div>
			<div class="col-xl-4 col-lg-5 col-md-4">
				<div class="row">
					<div class="mb-80 col-md-12 col-sm-6 d-lg-flex align-items-start block">
						<div class="inner">
							<img src="https://logodix.com/logo/569600.png" style="height: 200px; width:200px;" alt="flower image">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 d-none d-xl-block">
			</div>
		</div>
	</div>
</section>

		<!-- Contact 2 -->
		<section class="pt-30 pb-30 bg-light text-center contact_2" id="contact">
			<div class="container px-xl-0">
				<form action="contact" method="POST">
					{% csrf_token %}
					<div class="row justify-content-center">
						<div class="col-xl-6 col-lg-8 col-md-10">
							<h2 class="mt-20 mb-40 small">Get in Touch with Us</h2>
							<div>
								<textarea name="message" placeholder="Your message" required="required" class="input mb-30 w-full lg radius10 border-gray focus-action-1 color-heading placeholder-heading text-left"></textarea>
							</div>
						</div>
						<div class="col-12">
						</div>
						<div class="col-xl-4 col-lg-5 col-md-6 col-sm-7">
							<input type="email" name="email" placeholder="Your email" required="required" class="input mb-30 w-full lg border-gray focus-action-1 color-heading placeholder-heading text-center text-sm-left" />
						</div>
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
							<button class="btn mb-30 lg w-full action-1">Send</button>
						</div>
					</div>
				</form>
				<div class="row justify-content-center">
					<div class="col-xl-1">
					</div>
					<div class="col-xl-3 col-md-4 col-sm-8 mt-50">
						<div class="mb-10 f-14 semibold text-uppercase sp-20 title">Edinburgh, UK</div>
						<div class="color-heading text-adaptive">
							Honours Project hosted
							<a href="https://www.napier.ac.uk/" target="_blank">at Napier University</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-8 mt-50">
						<div class="mb-10 f-14 semibold text-uppercase sp-20 title">Realized by </div>
						<div class="color-heading text-adaptive">
							<a href="https://www.linkedin.com/in/davidepollicino7/" target="_blank">Davide Pollicino</a>, CS Student and Incoming SWE @Microsoft
						</div>
					</div>
					<div class="col-xl-3 col-md-4 col-sm-8 mt-50">
						<div class="mb-10 f-14 semibold text-uppercase sp-20 title">Project available on</div>
						<div class="color-heading text-adaptive">
							<a href="https://github.com/omonimus1/plant_classification" target="_blank">Github</a>
						</div>
					</div>
					<div class="col-xl-1">
					</div>
				</div>
			</div>
		</section>


		<!-- Bootstrap 4.3.1 JS -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
		<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
		<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
		<!-- Google maps JS API -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U"></script>
		<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<!-- AOS 2.3.4 jQuery plugin JS (Animations) -->
		<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
		<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
		<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
		<!-- Startup 3 JS (Custom js for all blocks) -->
		<script src="{% static 'js/script.js'%}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}
