{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Upload Your Image</title>
        <link href="{% static 'css\base.css' %}" rel='stylesheet'>
    </head>
    <body>
        {% block content %}
    <section style="padding-left: 100px; padding-right:100px; padding-bottom:50px; ">
        <div class="row">
            <div class="col-6">
                <div id="form" id="classifier">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="image" />
                        <input type="submit" name="submit" value="Upload" />
                    </form>
                </div>
            </div>

            <div class="col-6">
                <span class='logo'>Image Uploaded</span> </br>
                {% if predictions %}
                    <img src="{{file.url}}" alt="{{file.name}}" style="max-height:100px; max-width:100px;">
                    <p> {{predictions}} </p>


                      <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Was the prediction correct?
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Was the prediction correct?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form>
                                  <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Expected result</label>
                                    <input type="text" class="form-control" id="expected" name="expected">
                                  </div>
                                </form>
                              </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Yes, it was correct</button>
                                <button type="button" id="send-feedback" onclick="UploadFeedback()" class="btn btn-primary">Send Expected Prediction</button>
                            </div>

                        </div>
                        </div>  <!-- Button to Open the Modal -->

                {% endif %}
            </div>
        </div>

    </section>
    {% csrf_token %}
    <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>

    <script>
        function UploadFeedback() {
          $.ajax({
            url: "http://127.0.0.1:8000/prediction-feedback",
            type: "POST",
            headers: {'X-CSRFToken': csrftoken},
            mode: 'same-origin', // Do not send CSRF token to another domain.
            data: {
                "expected_result": "Test AJAX",
                "image": 80
            },

            success: function(result) {
              alert('OK');
            },
            error: function(error) {
              alert('ERRORE');
              console.log(error);
            }
          });
        }
    </script>

    </body>
    {% endblock content %}
</html>
