{% extends "base.html" %}
{% load static %}

{% block content %}
<section style="padding-left: 100px; padding-right:100px; padding-bottom:50px; min-height:50vh; ">
    <div class="row">
        <div class="col-6">
            <div id="form" id="classifier">
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <input name="imageFile" type="file"/>
                <input name="submit" type="submit" value="Upload"/>
                </form>
            </div>
        </div>

        <div class="col-6">
            <span class='logo'>Image Uploaded</span> </br>
            {% if predictions %}
            <img alt="{{file.name}}" src="{{file.url}}" style="max-height:100px; max-width:100px;">
            <p> {{predictions}}</p>
            <!-- Button to Open the Modal -->
            <button class="btn btn-primary" data-target="#myModal" data-toggle="modal" type="button">
                Was the prediction correct?
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Was the prediction correct?</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label class="col-form-label" for="recipient-name">Expected result</label>
                                    <input class="form-control" id="expected_result" name="expected_result" required
                                           type="text">
                                </div>
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Yes, it was
                                correct
                            </button>
                            <button class="btn btn-primary" onclick="UploadFeedback()"
                                    type="button">Send Expected Prediction
                            </button>
                        </div>

                    </div>
                </div>  <!-- Button to Open the Modal -->
            </div>
            </div>
            {% endif %}
        </div>
</section>
{% csrf_token %}
<script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<script>
    function UploadFeedback() {
      var predictionFeedback = $("#expected_result").val();
      $.ajax({
        url: "http://127.0.0.1:8000/leave-feedback",
        type: "POST",
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin', // Do not send CSRF token to another domain.
        data: {
            "expected_result": predictionFeedback,
            "image": {{ id }}
        },
        success: function(result) {
          window.location.replace("thanks");
        },
        error: function(error) {
          alert('ERROR WHILE SAVING FEEDBACK');
          console.log(error);
        }
      });
    }
</script>
</section>

{% endblock content %}
