{% extends "base.html" %}
{% load static %}

{% block content %}
<section style="padding-left: 100px; padding-right:100px; padding-bottom:50px; min-height:50vh; ">
    <div class="row">
        <div class="col-6">
            <div id="form" id="classifier">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="imageFile"/>
                    <input type="submit" name="submit" value="Upload"/>
                </form>
            </div>
        </div>

            <div class="col-6">
                <span class='logo'>Image Uploaded</span> </br>
                {% if predictions %}
                <img src="{{file.url}}" alt="{{file.name}}" style="max-height:100px; max-width:100px;">
                <p> {{predictions}} </p>
                <!-- Button to Open the Modal -->
                <button class="btn btn-primary" data-target="#myModal" data-toggle="modal" type="button">
                    Was the prediction correct?
                </button>

                <!-- The Modal -->
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Was the prediction correct?</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label class="col-form-label" for="recipient-name">Expected result</label>
                                        <input class="form-control" id="expected" name="expected" type="text">
                                    </div>
                                </form>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Yes, it was
                                    correct
                                </button>
                                <button class="btn btn-primary" id="send-feedback" onclick="UploadFeedback()"
                                        type="button">Send Expected Prediction
                                </button>
                            </div>

                        </div>
                    </div>  <!-- Button to Open the Modal -->

                    {% endif %}
                </div>
            </div>
</section>
{% csrf_token %}
<script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

</script>

<script>
            function UploadFeedback() {
              $.ajax({
                url: "http://127.0.0.1:8000/leave-feedback",
                type: "POST",
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin', // Do not send CSRF token to another domain.
                data: {
                    "expected_result": "Test AJAX",
                    "image": 81
                },
                success: function(result) {
                  alert('Feedback STORED');
                },
                error: function(error) {
                  alert('ERROR WHILE SAVING FEEDBACK');
                  console.log(error);
                }
              });
            }

</script>
</section>

{% endblock content %}
